h2 {
    font-size: 30px;
    margin-top: -10px;
}
h3 {
    font-size: 13px;
    color: rgb(61, 61, 61);
    margin-top: -20px;
    margin-left: 30px;
}
.calcular {
    border: solid 1px rgb(61, 61, 61) !important; 
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}
.result p {margin: 5px 0}
body {font-family: 'Roboto', sans-serif}

#containerIndex {flex-direction: column}
.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100px;
    width: 100px;
    border-radius: 6px;
}
section {
    height: 90px;
    display: flex;
    flex-direction: column;
}
section * {margin: 4px}
article{
    width: 700px;
    height: 140px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black !important;
}
aside {
    margin: 10px;
    width: 400px;
}
aside * {margin-left: 20px}
h1 {margin: 30px}

article button {
    border-radius: 4px;
    border: 0px solid black;
    width: 20px;
    height: 20px;
}
 button:hover {background-color: rgb(202, 202, 202)}
.result {width: 90px}
.result #result {margin-left: 10px}
#codigo {
    border-radius: 0%;
    width: 1800px;
    height: 800px;
    display: none;
}
.mostrar{display: block !important}
.buttons {
    display: flex;
}